$color-main: #34393f;


/* 清除浮动 */
%clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
}

@mixin webkit($type, $value) {
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -ms-#{$type}: $value;
    -o-#{$type}: $value;
    #{$type}: $value;
}