$color-main: #34393f;
$color-blur: #b5dcf3;

/* 清除浮动 */
%clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
}

/* 属性前端 */
@mixin webkit($type, $value) {
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -ms-#{$type}: $value;
    -o-#{$type}: $value;
    #{$type}: $value;
}

@mixin webkitA($type, $value) {  // A => after
    #{$type}: -webkit-#{$value};
    #{$type}: -moz-#{$value};
    #{$type}: -ms-#{$value};
    #{$type}: -o-#{$value};
    #{$type}: $value;
}