.index-wrap {
    position: fixed;
    left: 0;
    bottom: 94px;
    right: 0;
    z-index: 11;
}
.cars-item {
    width: 505px;
    height: 257px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 24px;
    @include webkit(box-shadow, 0 0 18px 0 rgba(0, 0, 0, .2));
    @include webkit(box-sizing, border-box);
    header { @extend %clearfix; }
}
.cars-logo {
    float: left;
    img {
        display: inline-block;
        height: 34px;
        margin-right: 10px;
        vertical-align: middle;
    }
    .name { font-size: 16px; }
}
.cars-attr {
    float: right;
    line-height: 34px;
    opacity: .5;
}